*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family: "Inter", sans-serif;
    background:#fff;
    color:#111;
}


/* ---------------- NAV ---------------- */

.top-nav{

    position:fixed;
    top:0;
    left:0;
    width:100%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:40px 70px;

    background:white;
    z-index:100;
}

.logo a{

    text-decoration:none;
    color:#111;
    font-size:15px;
    letter-spacing:.04em;
}

nav{

    display:flex;
    gap:35px;
}

nav a{

    text-decoration:none;
    color:#111;
    font-size:14px;
    transition:.3s;
}

nav a:hover{

    opacity:.45;
}


/* ---------------- HERO ---------------- */

.hero{

    min-height:100vh;

    display:grid;
    grid-template-columns:2fr 1fr;

    align-items:center;

    padding:150px 70px 70px;
}


.hero-left h1{

    font-size:96px;
    font-weight:300;
    line-height:0.95;
    letter-spacing:-4px;
}


.hero-right{

    max-width:360px;
}

.hero-right p{

    font-size:16px;
    line-height:1.9;
    color:#444;
    margin-bottom:45px;
}


.button{

    text-decoration:none;
    color:#111;

    border-bottom:1px solid #111;

    padding-bottom:5px;

    transition:.3s;
}

.button:hover{

    opacity:.5;
}
